.jumbotron {
    background-color: lightblue;
    color: midnightblue;
}
body {
    font-family: Verdana;    
    background-color: royalblue;
    border: 5px;
    border-style:groove;
    border-color:skyblue;  
}


.col-sm-4
 {
    border-style:groove;
    border-color:skyblue;
    


}
p { 
    color: red; 
}
body { 
    color:rgba(195, 245, 255, 0.5);
    text-shadow: 3px 1px rgb(44, 7, 212);
    
}

h2 {
    width: 20%;
    float: right;
    margin-right: 30%;
}



img {
    width: 100px;
    margin-left: 5%;
    border-radius: 100%
}
.link { 
    height: 1%;
    width: 1%;
}
.link {
    height: 2%;
    width: 2% ;
}
.tc{
    height: 500px;
    width: 500px;
}


